doctype html
html
    head
        style
            include ./public/style.css
        title Home - Admin Panel : Your Little Earth
    body
        block content
        br
        hr
        footer
            p Copyright &copy; 2020
